.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.home_details {
  width: 500px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home_avatar {
  text-align: center;
  width: 100%;
}

.home_avatar > img {
    padding-top: 20px;
}

.home_role {
    margin-top: 2%;
    font-size: 1rem;
    font-weight: 600;
}

.home_name {
    font-size: 2rem;
    font-weight: 800;
}

.home_social {
    margin-top: 3%;
    font-size: 1.8rem;
}

.home_social > * {
    margin: 0 10px;
}

.home_button {
    cursor: pointer;
    margin-top: 2%;
    outline: none;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    background-color: #ff4c60;
    color: #fff;
    border: none;
    transition: transform 450ms;
}

.home_button:hover {
    transform: scale(1.06);
}

.home_mouse {
    width: 26px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.home_mouse .home_wheel {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    height: 4px;
    border-radius: 4px;
    background: #000;
    -webkit-animation: mouseScroll 1.5s cubic-bezier(.7,0,.3,1) infinite alternate;
    animation: mouseScroll 1.5s cubic-bezier(.7,0,.3,1) infinite alternate;
    /* z-index: 2; */
}

.home_scroll_down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding-bottom: 20px;
}

@-webkit-keyframes mouseScroll {
 0% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
 100% {
  -webkit-transform:translateY(14px);
  transform:translateY(14px)
 }
}
@keyframes mouseScroll {
 0% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
 100% {
  -webkit-transform:translateY(14px);
  transform:translateY(14px)
 }
}

